.header {
  color: #00548c;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 2em;
}

.enrollee-list {
  float: left;
  width: 20em;
}

.enrollee-editor {
  float: left;
  margin-top: 1em;
  padding: 0.5em;
}
