.enrollee {
  color: #333;
  margin-top: 1em;
  padding: 0.5em;
  display: block;
  border: 0.2em solid transparent;

  &__activeIcon {
    border-radius: 5em;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    display: inline-flex;
    color: #4b7f3b;

    &--inactive {
      color: #cf1d67;
    }
  }

  &__name {
    display: inline;
    color: #107ba4;
    font-size: 1.2em;
  }

  &:hover {
    cursor: pointer;
    border: 0.2em solid #107ba4;
  }
}
